<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1070364353517-rs1efjkg05v0l6kn7tvqlbc9m9qop2ml.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1070364353517-rs1efjkg05v0l6kn7tvqlbc9m9qop2ml</string>
	<key>API_KEY</key>
	<string>AIzaSyACTP29Y99IbQUVu24QoSwlurihlhqDXVk</string>
	<key>GCM_SENDER_ID</key>
	<string>1070364353517</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.test.DoggyMap</string>
	<key>PROJECT_ID</key>
	<string>doggymap-2bf5d</string>
	<key>STORAGE_BUCKET</key>
	<string>doggymap-2bf5d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1070364353517:ios:0a6972bc667cab968bfde4</string>
</dict>
</plist>